In [2]:
import sys
import os
import yaml
import pandas as pd
import argparse
sys.path.append('./../../.')
sys.path.append('./../.')

'''
Run 
main.py --DIR ['us_import1', 'us_import2', 'china_import1', 'china_export1']
'''

try:
    from  src.data_preprocessor import clean_up_test_data
except:
    from  data_preprocessor import clean_up_test_data


# ------------------------------------------------ #
data_dir = None
save_dir = None
id_col = None
DIR = None
CONFIG = None
# ------------------------------------------------ #

def set_up_config(_DIR):
    global CONFIG
    global data_dir
    global save_dir
    global  id_col
    global DIR
    CONFIG_FILE = './../config_preprocessor_v02.yaml'
    with open(CONFIG_FILE) as f:
        CONFIG = yaml.safe_load(f)

    DIR = _DIR
    if DIR is None:
        DIR = CONFIG[DIR]
    data_dir = os.path.join('..', CONFIG['save_dir'],DIR)
    save_dir = os.path.join('..', CONFIG['save_dir'],DIR)
    id_col = CONFIG['id_col']
    return

In [24]:
set_up_config('china_import1')

In [25]:
train_df = pd.read_csv(os.path.join(data_dir, CONFIG['train_data_file']),low_memory=False)
test_df = pd.read_csv(os.path.join(data_dir, CONFIG['test_data_file']),low_memory=False)

In [28]:
len(test_df)

12787

In [26]:
train_df.head(10)

,PanjivaRecordID,AdminRegion,ConsigneePanjivaID,CountryOfSale,Province,ShipmentOrigin,TradeType,TransportMethod,hscode_6
0,160711743,361,2681,100,19,105,7,5,1
1,161302911,83,3195,77,27,97,7,1,1
2,160601855,364,1358,119,26,105,7,5,1
3,160587967,75,1186,76,19,79,7,5,1
4,160564735,268,1134,21,19,20,7,5,1
5,161431295,302,1669,65,24,68,7,5,44
6,161209919,269,2830,76,2,79,7,5,44
7,160850303,78,1736,11,22,101,1,5,44
8,160832063,304,4622,114,22,119,7,5,44
9,160819647,304,4584,22,22,31,1,5,44

In [27]:
res = clean_up_test_data.remove_order1_spurious_coocc(
    train_df,
    test_df,
    id_col,
    4
)

In remove_order1_spurious_coocc ::
Col 1 & 2 AdminRegion ConsigneePanjivaID (386, 5270) >> (386, 5270)
Col 1 & 2 AdminRegion CountryOfSale (386, 122) >> (386, 122)
Col 1 & 2 AdminRegion Province (386, 31) >> (386, 31)
Col 1 & 2 AdminRegion ShipmentOrigin (386, 127) >> (386, 127)
Col 1 & 2 AdminRegion TradeType (386, 10) >> (386, 10)
Col 1 & 2 AdminRegion TransportMethod (386, 6) >> (386, 6)
Col 1 & 2 AdminRegion hscode_6 (386, 74) >> (386, 74)
Col 1 & 2 ConsigneePanjivaID CountryOfSale (5270, 122) >> (5270, 122)
Col 1 & 2 ConsigneePanjivaID Province (5270, 31) >> (5270, 31)
Col 1 & 2 ConsigneePanjivaID ShipmentOrigin (5270, 127) >> (5270, 127)
Col 1 & 2 ConsigneePanjivaID TradeType (5270, 10) >> (5270, 10)
Col 1 & 2 ConsigneePanjivaID TransportMethod (5270, 6) >> (5270, 6)
Col 1 & 2 ConsigneePanjivaID hscode_6 (5270, 74) >> (5270, 74)
Col 1 & 2 CountryOfSale Province (122, 31) >> (122, 31)
Col 1 & 2 CountryOfSale ShipmentOrigin (122, 127) >> (122, 127)
Col 1 & 2 CountryOfSale TradeType (122, 10) >> (122, 10)
Col 1 & 2 CountryOfSale TransportMethod (122, 6) >> (122, 6)
Col 1 & 2 CountryOfSale hscode_6 (122, 74) >> (122, 74)
Col 1 & 2 Province ShipmentOrigin (31, 127) >> (31, 127)
Col 1 & 2 Province TradeType (31, 10) >> (31, 10)
Col 1 & 2 Province TransportMethod (31, 6) >> (31, 6)
Col 1 & 2 Province hscode_6 (31, 74) >> (31, 74)
Col 1 & 2 ShipmentOrigin TradeType (127, 10) >> (127, 10)
Col 1 & 2 ShipmentOrigin TransportMethod (127, 6) >> (127, 6)
Col 1 & 2 ShipmentOrigin hscode_6 (127, 74) >> (127, 74)
Col 1 & 2 TradeType TransportMethod (10, 6) >> (10, 6)
Col 1 & 2 TradeType hscode_6 (10, 74) >> (10, 74)
Col 1 & 2 TransportMethod hscode_6 (6, 74) >> (6, 74)
Post cleaning chunk lengths -> [903, 881, 885, 789]
 After deduplication ::  3458

In [8]:
test_df_file = os.path.join(save_dir, CONFIG['test_data_file'])
test_df.to_csv(test_df_file, index=False)


# -------------------------------------------------

In remove_order1_spurious_coocc ::
Col 1 & 2 Carrier ConsigneePanjivaID (548, 5113) >> (548, 5113)
Col 1 & 2 Carrier HSCode (548, 95) >> (548, 95)
Col 1 & 2 Carrier PortOfLading (548, 238) >> (548, 238)
Col 1 & 2 Carrier PortOfUnlading (548, 64) >> (548, 64)
Col 1 & 2 Carrier ShipmentDestination (548, 113) >> (548, 113)
Col 1 & 2 Carrier ShipmentOrigin (548, 116) >> (548, 116)
Col 1 & 2 Carrier ShipperPanjivaID (548, 6193) >> (548, 6193)
Col 1 & 2 ConsigneePanjivaID HSCode (5113, 95) >> (5113, 95)
Col 1 & 2 ConsigneePanjivaID PortOfLading (5113, 238) >> (5113, 238)
Col 1 & 2 ConsigneePanjivaID PortOfUnlading (5113, 64) >> (5113, 64)
Col 1 & 2 ConsigneePanjivaID ShipmentDestination (5113, 113) >> (5113, 113)
Col 1 & 2 ConsigneePanjivaID ShipmentOrigin (5113, 116) >> (5113, 116)
Col 1 & 2 ConsigneePanjivaID ShipperPanjivaID (5113, 6193) >> (5113, 6193)
Col 1 & 2 HSCode PortOfLading (95, 238) >> (95, 238)
Col 1 & 2 HSCode PortOfUnlading (95, 64) >> (95, 64)
Col 1 & 2 HSCode ShipmentDestination (95, 113) >> (95, 113)
Col 1 & 2 HSCode ShipmentOrigin (95, 116) >> (95, 116)
Col 1 & 2 HSCode ShipperPanjivaID (95, 6193) >> (95, 6193)
Col 1 & 2 PortOfLading PortOfUnlading (238, 64) >> (238, 64)
Col 1 & 2 PortOfLading ShipmentDestination (238, 113) >> (238, 113)
Col 1 & 2 PortOfLading ShipmentOrigin (238, 116) >> (238, 116)
Col 1 & 2 PortOfLading ShipperPanjivaID (238, 6193) >> (238, 6193)
Col 1 & 2 PortOfUnlading ShipmentDestination (64, 113) >> (64, 113)
Col 1 & 2 PortOfUnlading ShipmentOrigin (64, 116) >> (64, 116)
Col 1 & 2 PortOfUnlading ShipperPanjivaID (64, 6193) >> (64, 6193)
Col 1 & 2 ShipmentDestination ShipmentOrigin (113, 116) >> (113, 116)
Col 1 & 2 ShipmentDestination ShipperPanjivaID (113, 6193) >> (113, 6193)
Col 1 & 2 ShipmentOrigin ShipperPanjivaID (116, 6193) >> (116, 6193)
Post cleaning chunk lengths -> [184, 182]
 After deduplication ::  366

In [42]:
dir = './../../../../../ad_1/generated_data/china_import2/'
df1 = pd.read_csv(os.path.join(dir,'train_data.csv'))
len(df1)

81896

In [30]:
df2 = pd.read_csv(os.path.join(save_dir, 'negative_samples_v1.csv'))
len(df2)

1228440

In [31]:

1228440/81896

15.0