In [1]:
import yaml
import glob
import pandas as pd
import numpy as np
import os
import argparse
import pickle
import sys
sys.path.append('./../..')
sys.path.append('./..')

try:
    from .metapath2vec_g import metapath2vec_g_model
except:
    from metapath2vec_g import metapath2vec_g_model

try:
    from src.data_fetcher import data_fetcher_v2 as data_fetcher
except:
    from .src.data_fetcher import data_fetcher_v2 as data_fetcher
    
from gensim.similarities.index import AnnoyIndexer
from gensim.models.word2vec import LineSentence
from gensim.models import Word2Vec

INFO: Pandarallel will run on 8 workers.
INFO: Pandarallel will use Memory file system to transfer data between the main process and workers.

In [4]:
coOccDict_file = './model_use_data/us_import2/coOccMatrixSaved.pkl'
with open(coOccDict_file, 'rb') as fh:
    coOccDict = pickle.load(fh)

In [2]:
model_save_path = './model_weights_data/metapath2vec_gensim/us_import2/mp2v_gensim.data'
model = Word2Vec.load(model_save_path)

In [6]:
 annoy_index = AnnoyIndexer(model, 128)

/home/ddatta/anaconda3/envs/AD_v2/lib/python3.6/site-packages/gensim/similarities/index.py:184: FutureWarning: The default argument for metric will be removed in future version of Annoy. Please pass metric='angular' explicitly.
  index = AnnoyIndex(num_features)

In [8]:
serial_mapping_df = pd.read_csv('./model_use_data/us_import2/Serialized_Mapping.csv',index_col=None)

In [9]:
serial_mapping_df

                Domain  Entity_ID  Serial_ID
0              Carrier          0          0
1              Carrier          1          1
2              Carrier          2          2
3              Carrier          3          3
4              Carrier          4          4
...                ...        ...        ...
8935  ShipperPanjivaID       4078       8935
8936  ShipperPanjivaID       4079       8936
8937  ShipperPanjivaID       4080       8937
8938  ShipperPanjivaID       4081       8938
8939  ShipperPanjivaID       4082       8939

[8940 rows x 3 columns]

In [25]:
PortOfLadingSamples =serial_mapping_df.loc[serial_mapping_df['Domain']=='PortOfLading'].sample(20)
del PortOfLadingSamples['Domain']
PortOfLadingSamples

      Entity_ID  Serial_ID
4425         16       4425
4464         55       4464
4546        137       4546
4545        136       4545
4587        178       4587
4554        145       4554
4431         22       4431
4579        170       4579
4555        146       4555
4577        168       4577
4572        163       4572
4543        134       4543
4511        102       4511
4589        180       4589
4528        119       4528
4463         54       4463
4495         86       4495
4491         82       4491
4552        143       4552
4564        155       4564

In [17]:
def get_Entity_ID(serial_ID):
    global serial_mapping_df
    d = list(serial_mapping_df.loc[
                 (serial_mapping_df['Serial_ID'] == serial_ID)
             ]['Domain'])[0]
    e = list(serial_mapping_df.loc[
                 (serial_mapping_df['Serial_ID'] == serial_ID)
             ]['Entity_ID'])[0]
    return e, d

In [28]:
dom_list = ['PortOfLading' , 'PortOfUnLading', 'ShipmentOrigin', 'ShipmentDestination', 'HSCode']
for dom in dom_list:
    print(" ================================= ")
    samples = serial_mapping_df.loc[serial_mapping_df['Domain']== dom ].sample(20)
    del PortOfLadingSamples['Domain']
    
    for i,row in PortOfLadingSamples.iterrows():
        print( '---------------------')

        s_id = row['Serial_ID']
        vector = model.wv[str(s_id)]
        approximate_neighbors = model.wv.most_similar(
                [vector],
                topn=25,
                indexer=annoy_index
            )
        e1 , _ = get_Entity_ID(s_id)
        for n_s_id in approximate_neighbors[1:]:
                n_s_id = int(n_s_id[0])
                e, d = get_Entity_ID(n_s_id)
                if dom == d : continue
                if d < dom:
                    key = d + '_+_' + dom
                    align = 'r'
                else:
                    key = dom + '_+_' + d
                    align = 'c'

                matrix = coOccDict[key]
                if align == 'r':
                    arr = matrix[e, :]
                else:
                    arr = matrix[:, e]
                print('Domain ', d, 'Entity ', e,' Count', arr[e1])

 >>> Entity_ID      16
Serial_ID    4425
Name: 4425, dtype: int64
 >>> Entity_ID      55
Serial_ID    4464
Name: 4464, dtype: int64
Domain  ShipperPanjivaID Entity  4080  Count 115.0
 >>> Entity_ID     137
Serial_ID    4546
Name: 4546, dtype: int64
Domain  ShipperPanjivaID Entity  391  Count 2.0
Domain  Carrier Entity  307  Count 2.0
Domain  ShipperPanjivaID Entity  2518  Count 0.0
Domain  ShipperPanjivaID Entity  422  Count 0.0
Domain  ShipperPanjivaID Entity  2203  Count 0.0
Domain  ShipperPanjivaID Entity  1102  Count 0.0
Domain  ShipperPanjivaID Entity  878  Count 0.0
Domain  ShipperPanjivaID Entity  632  Count 0.0
Domain  ShipperPanjivaID Entity  2910  Count 0.0
Domain  ShipperPanjivaID Entity  1219  Count 0.0
Domain  ShipperPanjivaID Entity  2906  Count 0.0
Domain  ShipperPanjivaID Entity  888  Count 0.0
Domain  ShipperPanjivaID Entity  3136  Count 0.0
Domain  ShipperPanjivaID Entity  803  Count 0.0
Domain  ShipperPanjivaID Entity  407  Count 0.0
Domain  ShipperPanjivaID Entity  1869  Count 0.0
Domain  ShipperPanjivaID Entity  3686  Count 0.0
Domain  ShipperPanjivaID Entity  523  Count 0.0
Domain  ShipperPanjivaID Entity  2645  Count 0.0
Domain  ShipperPanjivaID Entity  444  Count 0.0
 >>> Entity_ID     136
Serial_ID    4545
Name: 4545, dtype: int64
Domain  ShipperPanjivaID Entity  3482  Count 7.0
Domain  ShipperPanjivaID Entity  2690  Count 3.0
 >>> Entity_ID     178
Serial_ID    4587
Name: 4587, dtype: int64
Domain  ShipperPanjivaID Entity  3180  Count 7.0
Domain  ShipmentOrigin Entity  3  Count 7.0
 >>> Entity_ID     145
Serial_ID    4554
Name: 4554, dtype: int64
Domain  ShipmentOrigin Entity  11  Count 14.0
Domain  ShipmentOrigin Entity  42  Count 1.0
Domain  ShipperPanjivaID Entity  698  Count 2.0
 >>> Entity_ID      22
Serial_ID    4431
Name: 4431, dtype: int64
Domain  ShipmentOrigin Entity  55  Count 65.0
Domain  ShipperPanjivaID Entity  388  Count 0.0
Domain  ShipmentOrigin Entity  14  Count 0.0
 >>> Entity_ID     170
Serial_ID    4579
Name: 4579, dtype: int64
 >>> Entity_ID     146
Serial_ID    4555
Name: 4555, dtype: int64
Domain  ShipperPanjivaID Entity  3252  Count 0.0
Domain  ShipperPanjivaID Entity  981  Count 0.0
Domain  ShipperPanjivaID Entity  1168  Count 0.0
Domain  ShipperPanjivaID Entity  1147  Count 0.0
Domain  ShipperPanjivaID Entity  1155  Count 0.0
Domain  ShipperPanjivaID Entity  211  Count 3.0
Domain  ShipperPanjivaID Entity  1179  Count 1.0
Domain  ShipperPanjivaID Entity  1174  Count 0.0
Domain  ShipperPanjivaID Entity  3358  Count 0.0
Domain  ShipperPanjivaID Entity  2900  Count 3.0
Domain  ShipperPanjivaID Entity  1176  Count 0.0
Domain  ShipperPanjivaID Entity  1169  Count 0.0
Domain  ShipperPanjivaID Entity  1160  Count 0.0
 >>> Entity_ID     168
Serial_ID    4577
Name: 4577, dtype: int64
Domain  ShipperPanjivaID Entity  97  Count 10.0
 >>> Entity_ID     163
Serial_ID    4572
Name: 4572, dtype: int64
Domain  ShipperPanjivaID Entity  3459  Count 23.0
Domain  ShipperPanjivaID Entity  3216  Count 0.0
Domain  ShipperPanjivaID Entity  467  Count 0.0
Domain  ShipperPanjivaID Entity  3195  Count 0.0
Domain  ShipperPanjivaID Entity  3209  Count 0.0
Domain  ShipperPanjivaID Entity  1954  Count 0.0
Domain  ShipperPanjivaID Entity  2963  Count 0.0
Domain  Carrier Entity  360  Count 23.0
Domain  ShipperPanjivaID Entity  545  Count 0.0
 >>> Entity_ID     134
Serial_ID    4543
Name: 4543, dtype: int64
Domain  ShipperPanjivaID Entity  1168  Count 0.0
Domain  ShipperPanjivaID Entity  2977  Count 11.0
Domain  ShipperPanjivaID Entity  1159  Count 0.0
Domain  ShipperPanjivaID Entity  2451  Count 0.0
Domain  Carrier Entity  231  Count 9.0
Domain  ShipperPanjivaID Entity  3580  Count 0.0
Domain  ShipperPanjivaID Entity  1196  Count 0.0
Domain  ShipperPanjivaID Entity  1145  Count 0.0
Domain  ShipperPanjivaID Entity  2134  Count 0.0
Domain  ShipperPanjivaID Entity  164  Count 0.0
Domain  ShipperPanjivaID Entity  1171  Count 0.0
Domain  ShipperPanjivaID Entity  2165  Count 0.0
Domain  ShipperPanjivaID Entity  1075  Count 0.0
 >>> Entity_ID     102
Serial_ID    4511
Name: 4511, dtype: int64
 >>> Entity_ID     180
Serial_ID    4589
Name: 4589, dtype: int64
 >>> Entity_ID     119
Serial_ID    4528
Name: 4528, dtype: int64
Domain  ShipperPanjivaID Entity  2276  Count 0.0
Domain  ShipperPanjivaID Entity  3367  Count 0.0
Domain  ShipperPanjivaID Entity  3357  Count 0.0
Domain  ShipperPanjivaID Entity  1936  Count 0.0
Domain  ShipperPanjivaID Entity  2732  Count 0.0
Domain  ShipperPanjivaID Entity  151  Count 0.0
Domain  ShipperPanjivaID Entity  3696  Count 0.0
Domain  ShipperPanjivaID Entity  140  Count 0.0
Domain  ShipperPanjivaID Entity  351  Count 0.0
 >>> Entity_ID      54
Serial_ID    4463
Name: 4463, dtype: int64
 >>> Entity_ID      86
Serial_ID    4495
Name: 4495, dtype: int64
 >>> Entity_ID      82
Serial_ID    4491
Name: 4491, dtype: int64
Domain  ShipperPanjivaID Entity  1104  Count 0.0
Domain  ShipperPanjivaID Entity  1699  Count 0.0
Domain  ShipperPanjivaID Entity  1963  Count 0.0
Domain  ShipperPanjivaID Entity  2314  Count 0.0
Domain  ShipperPanjivaID Entity  341  Count 0.0
 >>> Entity_ID     143
Serial_ID    4552
Name: 4552, dtype: int64
Domain  ShipperPanjivaID Entity  1076  Count 0.0
Domain  ShipperPanjivaID Entity  1702  Count 0.0
Domain  ShipperPanjivaID Entity  2732  Count 0.0
Domain  ShipperPanjivaID Entity  118  Count 0.0
 >>> Entity_ID     155
Serial_ID    4564
Name: 4564, dtype: int64
Domain  ShipmentOrigin Entity  56  Count 27.0
Domain  ShipmentOrigin Entity  36  Count 65.0
Domain  ShipperPanjivaID Entity  2612  Count 9.0
Domain  ShipperPanjivaID Entity  1805  Count 10.0
Domain  Carrier Entity  107  Count 8.0
Domain  Carrier Entity  180  Count 3.0
Domain  Carrier Entity  397  Count 10.0