In [3]:
from numpy import genfromtxt
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
from scipy.stats import entropy
from math import log, e
import math
from sklearn.utils import shuffle
import os
import pickle
from scipy.stats import iqr
from sklearn.model_selection import train_test_split

In [26]:
save_dir = '../data_v1/data_2'

In [4]:
my_data = genfromtxt('../data_v1/data_2/covtype.data', delimiter=',')

In [5]:
my_data.shape

(581012, 55)

In [6]:
for i in set(my_data[:,-1]) :
    _list = list(my_data[:,-1])
    c = _list.count(i)
    print('Class :', i,'| count :',c )

Class : 1.0 | count : 211840
Class : 2.0 | count : 283301
Class : 3.0 | count : 35754
Class : 4.0 | count : 2747
Class : 5.0 | count : 9493
Class : 6.0 | count : 17367
Class : 7.0 | count : 20510

In [7]:
# there are 7 classes 
# taking the majority class as normal and the class(es) with minimum number of points as anomalous
# this assumption has been done in CompreX

normal_class = 2
anomaly_class = 4

In [8]:
df = pd.DataFrame(data=my_data)
print(list(df.columns))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54]

0 Elevation / quantitative /meters / Elevation in meters 

1 Aspect / quantitative / azimuth / Aspect in degrees azimuth 

2 Slope / quantitative / degrees / Slope in degrees 

3 Horizontal_Distance_To_Hydrology / quantitative / meters / Horz Dist to nearest surface water features

4 Vertical_Distance_To_Hydrology / quantitative / meters / Vert Dist to nearest surface water features 

5 Horizontal_Distance_To_Roadways / quantitative / meters / Horz Dist to nearest roadway 

6 Hillshade_9am / quantitative / 0 to 255 index / Hillshade index at 9am, summer solstice 

7 Hillshade_Noon / quantitative / 0 to 255 index / Hillshade index at noon, summer soltice 

8 Hillshade_3pm / quantitative / 0 to 255 index / Hillshade index at 3pm, summer solstice 

9 Horizontal_Distance_To_Fire_Points / quantitative / meters / Horz Dist to nearest wildfire ignition points 

10-13 Wilderness_Area (4 binary columns) / qualitative / 0 (absence) or 1 (presence) / Wilderness area designation 

14-53 Soil_Type (40 binary columns) / qualitative / 0 (absence) or 1 (presence) / Soil Type designation 

54 Cover_Type (7 types) / integer / 1 to 7 / Forest Cover Type designation

In [9]:
# Join up columns 14 to 53

In [10]:
for c in range(14,53+1):
    df[c] = df[c].astype(int)

In [11]:
# join up column
# 14 to 54 is  soil type

df['soil_type'] = None
def join_14_53(row):
    r = list(row[list(range(14,54))])
    r = np.argmax(r)
    return r
    
df['soil_type'] = df.apply(join_14_53,axis=1)

In [12]:
len(set(df['soil_type']))

40

In [13]:
for r in list(range(14,54)):
    try:
        del df[r]
    except:
        pass

In [14]:
df['wa'] = None
def join_10_13(row):
    r = list(row[list(range(10,14))])
    r = np.argmax(r)
    return r
    
df['wa'] = df.apply(
    join_10_13,
    axis=1
)

In [15]:
for r in list(range(10,14)):
    try:
        del df[r]
    except:
        pass

In [16]:
df_new = pd.DataFrame(df,copy=True)

In [18]:
df_new.columns

Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 54, 'soil_type', 'wa'], dtype='object')

In [19]:
bin_list = list(range(0,10))

In [20]:
for i in df_new.columns:
    vals = set(list(df_new[i]))
    print(len(vals), df_new[i].dtype)
    if str(df_new[i].dtype) == 'float64' and i in bin_list:
        print(
            '>',
            len(set(df_new[i]))
        )
        if len(set(df[i]))>2:
            bins = 20
            labels=list(range(0,bins))
            df_new[i] = pd.cut(
                df_new[i], 
                bins,
                labels=labels
            )

1978 float64
> 1978
361 float64
> 361
67 float64
> 67
551 float64
> 551
700 float64
> 700
5785 float64
> 5785
207 float64
> 207
185 float64
> 185
255 float64
> 255
5827 float64
> 5827
7 float64
40 int64
4 int64

In [21]:
df_new = df_new.rename(columns = {54:'class'})

In [22]:
# del df['tag']
df_new.head(3)

   0  1  2  3  4  5   6   7   8   9  class  soil_type  wa
0  7  2  0  3  4  1  17  18  11  17    5.0         28   0
1  7  3  0  3  4  1  17  18  11  17    5.0         28   0
2  9  7  2  3  6  8  18  18  10  17    2.0         11   0

In [23]:
for i in set(df_new['class']) :
    _list = list(df_new['class'])
    c = _list.count(i)
    print('Class :', i,'| count :',c )

Class : 1.0 | count : 211840
Class : 2.0 | count : 283301
Class : 3.0 | count : 35754
Class : 4.0 | count : 2747
Class : 5.0 | count : 9493
Class : 6.0 | count : 17367
Class : 7.0 | count : 20510

In [24]:
df_1 = df_new.loc[df_new['class'].isin([anomaly_class])]
df_2 = df_new.loc[df_new['class'].isin([normal_class])]
df_new_1 = df_1.append(df_2,ignore_index=True)

In [25]:
features = list(df_new_1.columns)
features.remove('class')

Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'soil_type', 'wa', 'tag'], dtype='object')

In [31]:
def replace_attr_with_id(row, attr, val2id_dict):
    val = row[attr]
    if val not in val2id_dict.keys():
        print(attr,val)
        return None
    else:
        return val2id_dict[val]

# -------------------- #
def convert_to_ids(df, cols , save_dir):
    domain_dims_dict = {}
    
    _idx = 0
    for col in cols:
        print(col)
        vals = list(set(df[col]))
        print('count ',len(vals))
        id2val_dict = {e[0]: e[1] for e in enumerate(vals, 0)}
        file_name = str(col) +'_id2val.pkl'
        with open( os.path.join(save_dir,file_name), 'wb') as f:
            pickle.dump(id2val_dict, f, pickle.HIGHEST_PROTOCOL)

        val2id_dict = {v: k for k, v in id2val_dict.items()}
        # replace
        df[col] = df.apply(
            replace_attr_with_id,
            axis=1,
            args=(
                col,
                val2id_dict,
            )
        )
        domain_dims_dict[_idx] = len(id2val_dict)
        _idx += 1 
    domain_dims = list(domain_dims_dict.values())
    domain_dims_res = domain_dims_dict

    domain_dims =  np.array(domain_dims)
    print(domain_dims)
    print(domain_dims_res)
    file = 'domain_dims.pkl'
    f_path = os.path.join(save_dir, file)

    with open(f_path,'wb') as fh:
        pickle.dump(
            domain_dims_res,
            fh,
            pickle.HIGHEST_PROTOCOL
        )
    return df

In [27]:
features

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'soil_type', 'wa']

In [28]:
# ------------------------------------- #
# convert all values to int

for c in features:
    df_new_1[c] = df_new_1[c].astype(str)

In [29]:
df_new_1.head(10)

   0   1  2  3  4  5   6   7   8  9  class soil_type wa
0  1  17  2  0  4  0  15  18  13  0    4.0        16  3
1  1  19  1  0  4  0  16  18  12  0    4.0        16  3
2  1   2  2  0  4  0  17  17  10  0    4.0        16  3
3  1   4  3  0  4  0  18  17   9  0    4.0        16  3
4  1   4  4  0  4  0  18  16   7  0    4.0        16  3
5  1   3  6  0  4  0  18  14   5  1    4.0         9  3
6  1   2  3  0  4  0  17  16   9  1    4.0        16  3
7  1   1  1  0  4  0  17  17  11  1    4.0        16  3
8  1   3  6  0  4  0  18  14   6  1    4.0        16  3
9  1   1  0  0  4  1  17  18  11  1    4.0        16  3

In [32]:
df_new_1 = convert_to_ids(
    df_new_1, 
    features , 
    save_dir
)

0
count  15
1
count  20
2
count  20
3
count  20
4
count  20
5
count  20
6
count  18
7
count  19
8
count  20
9
count  20
soil_type
count  38
wa
count  4
[15 20 20 20 20 20 18 19 20 20 38  4]
{0: 15, 1: 20, 2: 20, 3: 20, 4: 20, 5: 20, 6: 18, 7: 19, 8: 20, 9: 20, 10: 38, 11: 4}

# ADD in ID

In [33]:
# add in id
new_col = list(range(1,len(df_new_1)+1))
try: 
    df_new_1.insert(
        loc=0, 
        column='id', 
        value=new_col
    )
except:
    pass

In [34]:
df_new_1.columns

Index(['id', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'class', 'soil_type', 'wa'], dtype='object')

In [36]:

normal_df = pd.DataFrame(df_new_1[df_new_1['class']==normal_class],copy=True)
len(normal_df)

283301

In [38]:
# get anomalies
tmp_df = pd.DataFrame(
    df_new_1[df_new_1['class'].isin([anomaly_class])],
    copy=True
)

all_anomalies_df = pd.DataFrame(
    tmp_df,
    copy=True
)
len(all_anomalies_df)

2747

# First we have anomalies
# Then we have normal samples

In [39]:
# ----------------- 

anomaly_ids = list(all_anomalies_df['id'])
normal_ids = list(normal_df['id'])

# -----------------

In [49]:
data_x_file = 'data.pkl'

values_df = pd.DataFrame(df_new_1,copy=True)
del values_df['class']
del values_df['id']
data_x = values_df.values

x = [data_x, normal_ids, anomaly_ids]

with open(data_x_file, 'wb') as fh:
    pickle.dump(
        x, 
        fh, 
        pickle.HIGHEST_PROTOCOL
    )

# ------------------------------------------------------- #